@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-100;
}

@keyframes bounce-short {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15%); }
}
.animate-bounce-short {
  animation: bounce-short 0.5s ease-in-out 1;
}
